<article id="question" class="form">
	<h1 class="top">Éditer cette question </br><span>Veuillez remplir les champs obligatoires !<span></h1>
	

	<%= render 'form' %>

</article>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
