<section id="questions" >
	<header>
		<h1>Dernières questions ajoutées</h1>
	</header>
	<%= render "questions/questions" %>



	<% if can? :new, @tip %><%= link_to 'New Post', new_question_path %><% end %>
</section>