<span id="add_advantage_notice">Veuillez écrire, dans le champs ci-dessous, l'avantage que vous souhaitez ajouter:</span>
<div class="input string optional"><input class="string optional new_form_input" id="product_test_advantage" name="product_test[advantage]" size="50" type="text" style="margin-bottom: 0;"></div>

