<span id="add_drawback_notice">Veuillez écrire, dans le champs ci-dessous, l'inconvénient que vous souhaitez ajouter:</span>
<div class="input string optional"><input class="string optional new_form_input" id="product_test_drawback" name="product_test[drawback]" size="50" type="text" style="margin-bottom: 0;"></div>