<article id="product_test" class="form">
	<h1 class="top">Éditer ce test </br><span>Veuillez remplir les champs obligatoires !<span></h1>
	

<%= render 'form' %>

</article>

<%= link_to 'Show', @product_test %> |
<%= link_to 'Back', product_tests_path %>
