<h1 class="red_section big">
	Les <span>AVIS/TESTS PRODUITS</span>
	<% if @category %>
		 de la catégorie <span>"<%= @category.name %>"</span>
	<% end %>
</h1>
<section id="product_tests" >
	<header>
		<h1>Derniers tests de produits</h1>
	</header>
	<%= render "product_tests/product_tests" %>



	<% if can? :new, @product_test %><%= link_to 'New product test', new_product_test_path %><% end %>
</section>

<%= paginate @product_tests %>