<article id="product_test" class="form">
	<h1 class="top">Nouveau test </br><span>Veuillez remplir les champs obligatoires !<span></h1>
	

<%= render 'form' %>

</article>
<%= link_to 'Back', product_tests_path %>
