<div class="drop_write_reply_as">
	Reply en tant que &nbsp; <span class="more_than">></span>
	<ul class="sub_write_reply_as">
		<li>
			<%= link_to "Utilisateur enregistré", new_user_session_path, :id => "write_reply_as_login_link", :title => "Log in your favourite website!" %>
		</li>
		<li>
			<%= link_to "Invité", show_guest_fields_for_reply_path(@post, @comment, :anchor => "reply_comment_#{@comment.id}"), :remote => true %>
		</li>
	</ul>
</div>