<div class="drop_write_as">
	Envoyer en tant que &nbsp; <span class="more_than">></span>
	<ul class="sub_write_as">
		<li>
			<%= link_to "Utilisateur enregistré", new_user_session_path, :id => "write_as_login_link", :title => "Log in your favourite website!", :class => "fancybox_signin fancybox.ajax", :remote => true %>
		</li>
		<li>
			<%= show_guest_fields_link(@commentable || @tip || @post || @event || @product_test) %>
		</li>
	</ul>
</div>