<div class="drop_write_as reply">
	Répondre en tant que <span class="more_than">></span>
	<ul class="sub_write_as reply">
		<li>
			<%= link_to "Utilisateur enregistré", new_user_session_path, :id => "write_reply_as_login_link", :title => "Log in your favourite website!", :class => "fancybox_signin fancybox.ajax" %>
		</li>
		<li>
			<%= link_to "Invité", show_guest_fields_for_comment_reply_path(commentable_class, commentable, @root_comment), :remote => true, :id => "write_reply_as_guest_link" %>
		</li>
	</ul>
</div>