var comment_title = $('div#wrap_form_new_comment input#comment_title').val(),
	comment_content = $('div#wrap_form_new_comment textarea#comment_body').val(),
	comment_guest_email = $('div#wrap_form_new_comment input#comment_guest_email').val(),
	comment_guest_website = $('div#wrap_form_new_comment input#comment_guest_website').val();

$('div#wrap_form_new_comment').html("<h1>New comment</h1><%= escape_javascript(render :partial => 'comments/form_with_guest_fields') %>").fadeIn();

$('div#wrap_form_new_comment').hide();

$('div#wrap_form_new_comment').fadeIn("slow");
window.location = "#wrap_form_new_comment";

$('div#wrap_form_new_comment input#comment_title').val(comment_title);
$('div#wrap_form_new_comment textarea#comment_body').val(comment_content);
$('div#wrap_form_new_comment input#comment_guest_email').val(comment_guest_email);
$('div#wrap_form_new_comment input#comment_guest_website').val(comment_guest_website);

$('form#new_reply[data-validate], form#new_comment[data-validate]').validate();