<%= simple_form_for(@upload_picture, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
	<%= f.file_field :picture %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
