<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @sender_name %> écrit à l'équipe de Changeons.org</h1>
    <p>
      E-mail de l'envoyeur : <%= @sender_email %>
    </p>
	<p>Contenu</p>
	<p>
      <%= @sender_body %>
    </p>
  </body>
</html>