<article id="event" class="form">
	<h1 class="top">Nouvel évènement </br><span>Veuillez remplir les champs obligatoires !<span></h1>
	

<%= render 'form' %>

</article>

<%= link_to 'Back', events_path %>
