<section id="last_from_redaction">
	<header>
		<h1>
			Dernières entrées de la
		</h1>
	</header>
	<%= render "layouts/redaction_last_entries" %>

	<%= link_to "Voir tous les articles", posts_path %>


</section>

