<div id="page_info" data-action=""></div>

<section id="posts">
	<header>
		<h1>Résultats de recherche par tag: <span class="tag"><%= @tag.name %></span></h1>
	</header>
	<%= render "posts/posts" %>
	<br />
</section>