<article id="tip" class="form">
	<h1 class="top">Éditer une astuce </br><span>Veuillez remplir les champs obligatoires !<span></h1>
	

<%= render 'form' %>

</article>

<%= link_to 'Show', @tip %> |
<%= link_to 'Back', tips_path %>
