<section id="tips" >
	<header>
		<h1>Dernières astuces ajoutées</h1>
	</header>
	<%= render "tips/tips" %>



	<% if can? :new, @tip %><%= link_to 'New Post', new_tip_path %><% end %>
</section>

<%= paginate @tips %>