<ul>
	<li class="first"><%=
			link_to_unless_current("CONTACT", contact_us_new_path) do
				link_to("CONTACT", contact_us_new_path, :class => "current")
			end
		%>
	</li>

	<li class="second"><%=
			link_to_unless_current("À PROPOS", pages_about_path) do
				link_to("A PROPOS", pages_about_path, :class => "current")
			end
		%>
	</li>
	<li class="third"><%=
			link_to_unless_current("PLAN DU SITE", posts_archives_path) do
				link_to("PLAN DU SITE", posts_archives_path, :class => "current")
			end
		%>
	</li>
</ul>
<span>All rights reserved © 2012</span>