<ul>
	<li><%=
			link_to_unless_current("CONTACT", contact_us_new_path) do
				link_to("CONTACT", contact_us_new_path, :class => "current")
			end
		%>
	</li>

	<li><%=
			link_to_unless_current("A PROPOS", pages_about_path) do
				link_to("A PROPOS", pages_about_path, :class => "current")
			end
		%>
	</li>
	<li>
		All rights reserved © 2012
	</li>
</ul>