<div class="horizontal_rule" style="margin-top: 2.5em;"></div>
<div id="share_line_show_top">
	<span class='st_facebook_hcount' displayText='Facebook'></span>
	<span class='st_twitter_hcount' displayText='Tweet'></span>
	<span class='st_plusone_hcount' displayText='Google +1'></span>
	<span class='st_viadeo_hcount' displayText='Viadeo'></span>
	<span class='st_sharethis'></span>
	<span class='st_email'></span>
</div>
<div class="horizontal_rule" style="margin: 0 0 2em 0em;"></div>