<!-- AddThis Button BEGIN -->
<!-- <div class="addthis_toolbox">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f4ab2883ea45f2b"></script> -->
<!-- AddThis Button END -->

<!-- Lockerz Share BEGIN -->
<!-- <div class="a2a_kit a2a_default_style">
<a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
<span class="a2a_divider"></span>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_viadeo"></a>
<a class="a2a_button_google_plus"></a>
</div>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.locale = "fr";
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script> -->
<!-- Lockerz Share END -->

<!-- AddThis Button BEGIN -->
<!-- <div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f4b53c653b0eede"></script> -->
<!-- AddThis Button END -->

<!-- share this -->
<!-- <span class='st_facebook_custom' displayText='Facebook'><img src="/images/facebook_64x64.png" width="40px" height="40px"></span>
<span class='st_twitter_custom' displayText='Tweet'><img src="/images/twitter_64x64.png" width="40px" height="40px"></span>
<span class='st_google_custom' displayText='Google +1'><img src="/images/google_64x64.png" width="40px" height="40px"></span>
<span class='st_email_custom' displayText='Email'><img src="/images/mail_64x64.png" width="40px" height="40px"></span>
<span class='st_viadeo_large' displayText='Viadeo'></span>
<span class='st_sharethis_large' displayText='ShareThis'></span> -->

<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_viadeo_large' displayText='Viadeo'></span>
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_email_large' displayText='Email'></span>
<span class='st_plusone' displayText='Google +1'></span>
