function remove_source(source) {
	$('ul#sources_display li.' + source).remove();
	$('ul#sources_display li a.remove_source').remove();

	var sources_val = $('ul#sources_display').html();
	$('textarea#sources_input').val(sources_val);

	var link_to_remove_source = "";

	add_source_links(link_to_remove_source);
}

function add_source() {
	var source_description_val = $('input#source_description_input').val(),
	source_val = $('input#html_link_input').val(),
	sources_val = $('ul#sources_display').html(),
	last_source = $('ul#sources_display li:last-child');
	
	
	
	if (last_source.length){
		last_source = parseInt(last_source.attr('class'));
		last_source++;
	} else{
		last_source = "0";
	}
	
		var link_to_remove_source = "";


	
	if (source_val != "http://" && source_val != ""){
		
		if (source_description_val == ""){
			source_description_val = "Lien";
		}
		
		if (sources_val == "") {
			sources_val = "<li class='" + last_source + "'>" + "<a href=" + source_val + " target='_blank' >" + source_description_val + "</a>" + "<a href='" + link_to_remove_source + "?source=" + last_source + "' data-remote='true' class='remove_source'>Supprimer</a></li>";
		} else {
			sources_val = sources_val + "<li class='" + last_source + "'>" + "<a href=" + source_val + " target='_blank' >" + source_description_val + "</a>" + "<a href='" + link_to_remove_source + "?source=" + last_source +"' data-remote='true' class='remove_source'>Supprimer</a></li>";
		}
		copy_to_textarea();
		
	} else if (source_description_val != ""){
		if (sources_val == "") {
			sources_val = "<li class='" + last_source + "'>" + source_description_val + "<a href='" + link_to_remove_source + "?source=" + last_source + "' data-remote='true' class='remove_source'>Supprimer</a></li>";
		} else {
			sources_val = sources_val + "<li class='" + last_source + "'>" + source_description_val + "<a href='" + link_to_remove_source + "?source=" + last_source + "' data-remote='true' class='remove_source'>Supprimer</a></li>";
		}
		
		copy_to_textarea();
	}
		
	
	$('input#html_link_input').val("http:\/\/");
	$('input#source_description_input').val("");
}
	
function copy_to_textarea(){
	$('ul#sources_display').html(sources_val);
	$('ul#sources_display li a.remove_source').remove();
	var sources_val_without_remove_link = $('ul#sources_display').html();
	$('textarea#sources_input').val(sources_val_without_remove_link);
	$('ul#sources_display').html(sources_val);
}