var source_description_val = $('input#source_description_input').val(),
	source_val = $('input#html_link_input').val(),
	sources_val = $('ul#sources_display').html(),
	last_source = $('ul#sources_display li:last-child');
	
	
	
	if (last_source.length){
		last_source = parseInt(last_source.attr('class'));
		last_source++;
	} else{
		last_source = "0";
	}
	
	<% if @tip %>
		link_to_remove_source = "<%= remove_source_tip_path(@tip) %>";
	<% elsif @post %>
		link_to_remove_source = "<%= remove_source_post_path(@post) %>";
	<% elsif @event %>
		link_to_remove_source = "<%= remove_source_event_path(@event) %>";
	<% elsif @product_test %>
		link_to_remove_source = "<%= remove_source_product_test_path(@product_test) %>";
	<% end %>

	
	if (source_val != "http://" && source_val != ""){
		
		if (source_description_val == ""){
			source_description_val = "Lien";
		}
		
		if (sources_val == "") {
			sources_val = "<li class='" + last_source + "'>" + "<a href=" + source_val + " target='_blank' >" + source_description_val + "</a>" + "<a href='" + link_to_remove_source + "?source=" + last_source + "' data-remote='true' class='remove_source'>Supprimer</a></li>";
		} else {
			sources_val = sources_val + "<li class='" + last_source + "'>" + "<a href=" + source_val + " target='_blank' >" + source_description_val + "</a>" + "<a href='" + link_to_remove_source + "?source=" + last_source +"' data-remote='true' class='remove_source'>Supprimer</a></li>";
		}
		copy_textarea();
		
	} else if (source_description_val != ""){
		if (sources_val == "") {
			sources_val = "<li class='" + last_source + "'>" + source_description_val + "<a href='" + link_to_remove_source + "?source=" + last_source + "' data-remote='true' class='remove_source'>Supprimer</a></li>";
		} else {
			sources_val = sources_val + "<li class='" + last_source + "'>" + source_description_val + "<a href='" + link_to_remove_source + "?source=" + last_source + "' data-remote='true' class='remove_source'>Supprimer</a></li>";
		}
		
		copy_textarea();
	}
		
	
	$('input#html_link_input').val("http:\/\/");
	$('input#source_description_input').val("");
	
function copy_textarea(){
	$('ul#sources_display').html(sources_val);
	$('ul#sources_display li a.remove_source').remove();
	var sources_val_without_remove_link = $('ul#sources_display').html();
	$('textarea#sources_input').val(sources_val_without_remove_link);
	$('ul#sources_display').html(sources_val);
}